@import '../../../../styles.scss';
@import '../auth.component.scss';

:host {
    @include auth-child-host();
}

.btns-container {
    position: relative;
}

.additional-links {
    flex-direction: column;
    margin-top: 16px;
    gap: 16px;
    p {
        display: flex;
        gap: 24px;
    }
}