$scrollbar-width: 4px;

::-webkit-scrollbar {
    width: $scrollbar-width;
    height: $scrollbar-width;
}

::-webkit-scrollbar-track {
    background: none;
    &:hover {
        background: #222;
    }
}

::-webkit-scrollbar-thumb {
    background: #2e3edf;
    border-radius: calc($scrollbar-width / 2);
    cursor: pointer;
    &:hover {
        background: #3646f0;
    }
}