@import "../../../../styles.scss";
@import "material-icons/iconfont/material-icons.scss";

:host {
    width: inherit;
    height: inherit;
    vg-player {
        width: inherit;
        height: inherit;
        video {
            width: inherit;
            height: inherit;
        }
    }
}

.back-btn {
    color: white;
    position: fixed;
    z-index: 201;
    top: 24px;
    left: 24px;
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    @include transition-ease($dur: 75ms);
    &:hover {
        background: #eeeeee1e;
        @include transition-ease($dur: 75ms);
    }
}

vg-controls {
    align-items: center;
    color: white;
    * {
        color: inherit;
    }
    .skip-forward-btn {
        position: relative;
        height: 84%;
        padding: 6px;
        img {
            height: 100%;
            object-fit: cover;
            -webkit-filter: invert(100%);
            filter: invert(100%);
        }
        span {
            position: absolute;
            inset: 0;
            display: flex;
            justify-content: center;
            align-items: center
        }
    }
    .skip-back-btn {
        @extend .skip-forward-btn;
        img {
            -moz-transform: scaleX(-1);
            -o-transform: scaleX(-1);
            -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
            filter: FlipH;
            -ms-filter: "FlipH";
        }
    }
    .time-of-total {
        font-size: 22px;
        font-weight: 600;
    }
}
