@import "../../../../styles.scss";
@import "material-icons/iconfont/material-icons.scss";

:host {
    width: inherit;
    height: inherit;
    vg-player {
        width: inherit;
        height: inherit;
        video {
            width: inherit;
            height: inherit;
        }
    }
}

nav {
    position: fixed;
    z-index: 201;
    top: 0;
    left: 0;
    right: 0;
    height: $nav-height;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 100%);
    color: $plain-white;
    font-size: $fs-normal;
}

vg-controls {
    align-items: center;
    color: $plain-white;
    * {
        color: inherit;
    }
    .skip-forward-btn {
        position: relative;
        height: 42px;
        padding: 6px;
        @extend .flex-center;
        img {
            height: 100%;
            object-fit: cover;
            -webkit-filter: invert(100%);
            filter: invert(100%);
        }
        span {
            position: absolute;
            inset: 0;
            display: flex;
            justify-content: center;
            align-items: center
        }
        @media screen and (max-width: 800px) {
            position: fixed;
            top: calc(50dvh - 21px);
            right: 28vw;
        }
    }
    .skip-back-btn {
        @extend .skip-forward-btn;
        img {
            -moz-transform: scaleX(-1);
            -o-transform: scaleX(-1);
            -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
            filter: FlipH;
            -ms-filter: "FlipH";
        }
        @media screen and (max-width: 800px) {
            right: unset;
            left: 28vw;
        }
    }
    .time-of-total {
        font-size: 22px;
        font-weight: 600;
    }
}

app-toast-notification.resolution-toast {
    width: 40px;
    height: 60px;
    @extend .flex-center;
}