:host {
    width: inherit;
    height: inherit;
    vg-player {
        width: inherit;
        height: inherit;
        video {
            width: inherit;
            height: inherit;
        }
    }
}