<vg-player (onPlayerReady)="onPlayerReady($event)">
    <vg-overlay-play />
    <vg-buffering />
    <vg-scrub-bar [vgSlider]="true">
        <vg-scrub-bar-current-time [vgSlider]="true" />
        <vg-scrub-bar-buffering-time />
    </vg-scrub-bar>
    <vg-controls>
        <vg-play-pause />
        <vg-playback-button />
        <vg-time-display vgProperty="current" vgFormat="mm:ss" />
        <vg-scrub-bar style="pointer-events: none;" />
        <vg-time-display vgProperty="left" vgFormat="mm:ss" />
        <vg-time-display vgProperty="total" vgFormat="mm:ss" />
        <vg-mute />
        <vg-volume />
        <vg-fullscreen />
    </vg-controls>
    <video [vgMedia]="$any(media)" #media id="video" preload="auto" autoplay="true" crossorigin></video>
</vg-player>