@import "../../../../styles.scss";

:host {
    height: 32px;
    a {
        height: inherit;
        display: flex;
        align-items: center;
        img {
            object-fit: cover;
            height: 100%;
        }
    }
}
