@import '../../../styles.scss';

:host {
    @extend .flex-center;
    gap: 48px;
    padding: 26px var(--page-side-padding);
}

a {
    color: $plain-white;
    &:hover {
        text-decoration: underline;
    }
}