@import "../../../styles.scss";
@import "material-icons/iconfont/material-icons.scss";

$overlay-gap: 32px;

:host {
    width: 100vw;
    height: 100dvh;
    overflow: hidden;
    vg-player {
        min-width: 100vw;
        min-height: 100dvh;
        @extend .flex-center;
        video {
            min-width: inherit;
            min-height: inherit;
            object-fit: cover;
            object-position: center;
        }
        .thumb {
            position: absolute;
            inset: 0;
            width: 100vw;
            height: 100dvh;
            object-fit: cover;
            object-position: center;
        }
        .color-gradient {
            position: absolute;
            inset: 0;
            min-width: inherit;
            min-height: inherit;
            background: $bg-gradient-alt;
        }
    }
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100dvh;
    color: $plain-white;
    .overlay-content {
        width: 90%;
        height: inherit;
        padding-left: var(--page-side-padding);
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        gap: $overlay-gap;
        h1 {
            font-size: 88px;
            @include text-line-clamp($number-of-lines: 2);
            &.desktop-hide {
                display: none;
            }
            @media screen and (max-width: 800px) {
                &.desktop-hide {
                    display: initial;
                }
            }
        }
        .description-container {
            width: 440px;
            min-height: 60px;
            display: flex;
            align-items: flex-end;
            @include text-line-clamp($number-of-lines: 5);
            &.desktop-hide {
                display: none;
            }
            @media screen and (max-width: 800px) {
                width: auto;
                &.desktop-hide {
                    display: flex;
                }
                @media screen and (max-height: 800px) {
                    line-clamp: 3;
                    -webkit-line-clamp: 3;
                }
            }
        }
        .play-btn-container {
            height: calc(50dvh - $overlay-gap);
            &.play-btn-alt-pos {
                display: flex;
                align-items: flex-end;
                padding-bottom: 28px;
                @media screen and (max-width: 800px) {
                    display: initial;
                }
            }
            .btn-primary {
                display: flex;
                align-items: center;
                gap: 4px;
                padding-left: 24px;
                padding-right: 24px;
            }
        }
        @media screen and (max-width: 1280px) {
            h1 {
                font-size: 64px;
            }
            .description-container {
                font-size: $fs-small;
            }
        }
    }
}

@media screen and (max-width: 800px) {
    :host vg-player {
        min-width: 100vw;
        height: 50dvh;
        flex-direction: column;
        background: $black-bright;
        video, .thumb, .color-gradient {
            height: inherit;
            min-height: unset;
        }
    }
    .overlay {
        position: initial;
        width: 100%;
        height: 50dvh;
        .overlay-content {
            .play-btn-container {
                height: unset;
                min-height: calc(15dvh - $overlay-gap);
                max-height: calc(25dvh - $overlay-gap);
            }
        }
    }
}