@if(metaData) {
<a class="thumb" [routerLink]="['video', metaData.id]">
    <img src="{{metaData.thumbUrl}}" alt="{{metaData.title}}" />
</a>
<div class="show-on-hover">
    <p>{{metaData.title}}</p>
    @if(completion && progressText) {
    <div class="progress-container">
        <div class="progress-bg">
            <div *ngIf="completion" class="progress-bar" [style.width]="progressWidth"></div>
        </div>
        <p>{{progressText}}</p>
    </div>
    } @else {
    <p>{{metaData.showDuration()}}</p>
    }
    <p>{{metaData.description}}</p>
</div>
} @else {
<div class="f-size flex-center">
    <app-loading-circle />
</div>
}