@if(metaData) {
<div class="content" [class.transform-top]="verticalPositionInViewport === 'top'" [class.transform-bottom]="verticalPositionInViewport === 'bottom'">
    <a class="thumb" (click)="playVideo()">
        <img src="{{metaData.thumbUrl}}" alt="{{metaData.title}}" />
    </a>
    <div class="show-on-hover">
        <div class="actions-container">
            <button class="btn-primary material-icons-sharp btn-icon" (click)="playVideo()">play_arrow
            </button>
            <button class="btn-secondary btn-icon">i</button>
        </div>
        @if(completion) {
        <app-watching-progress [completion]="completion" [metaData]="metaData" />
        } @else {
        <p class="duration">
            <span class="material-icons-outlined">timer</span>
            {{metaData.showDuration()}}
        </p>
        }
    </div>
</div>
} @else {
<div class="f-size flex-center">
    <app-loading-circle />
</div>
}