@if(videosService.loadingState.getValue() === 'complete') {
@if(videosService.searchFilter.length === 0) {
<app-video-preview *ngIf="videosService.getPreviewVideoMeta()" [videoMeta]="videosService.getPreviewVideoMeta()" />
<div class="videos-container">
    <app-videos-category *ngIf="videosContainerLoading && videosService.videoCompletionList.length > 0"
        [title]="'Continue watching'" [selection]="videosService.getPreviouslyWatchedVideosMeta()"
        (continue)="continueVideo($event)" [categoryIndex]="0" (details)="showVideoDetails($event)" />
    <app-videos-category *ngIf="videosContainerLoading" [title]="'New on Videoflix'"
        [selection]="videosService.getLatestVideosMeta()" (continue)="continueVideo($event)" [categoryIndex]="1"
        (details)="showVideoDetails($event)" />
    @for (genre of videosService.getGenres(); track genre; let i = $index) {
    <app-videos-category *ngIf="videosContainerLoading" [title]="genre" [categoryIndex]="2 + i"
        [selection]="videosService.getVideosMetaByGenre(genre)" (continue)="continueVideo($event)"
        (details)="showVideoDetails($event)" />
    }
</div>
} @else {
<div class="videos-container search-container">
    <app-videos-category [title]="'Search Results'" [categoryIndex]="0" [selection]="videosService.search()"
        (continue)="continueVideo($event)" (details)="showVideoDetails($event)" />
</div>
}
} @else {
<div class="loading-container">
    <app-loading-circle />
</div>
}
<app-dialog *ngIf="continueWatchingData" [dialog]="continueWatchingComponent"
    [(showing)]="showingContinueWatchingDialog" class="alt-dark"
    [dialogData]="{ metaData: continueWatchingData.meta, completion: continueWatchingData.completion}" />
<app-dialog *ngIf="videoDetailsData" [(showing)]="showingVideoDetailsDialog" [dialog]="videoDetailsComponent"
    class="alt-dark"
    [dialogData]="{ metaData: videoDetailsData.meta, completion: videoDetailsData.completion || undefined}" />