@if(videosService.loadingState.getValue() === 'complete') {
<app-video-preview *ngIf="videosService.getPreviewVideoMeta()" [videoMeta]="videosService.getPreviewVideoMeta()" />
<div class="videos-container">
    <app-videos-category *ngIf="videosService.videoCompletionList.length > 0" [title]="'Continue watching'"
        [selection]="videosService.getPreviouslyWatchedVideosMeta()" (continue)="continueVideo($event)"
        [categoryIndex]="0" />
    <app-videos-category [title]="'New on Videoflix'" [selection]="videosService.getLatestVideosMeta()"
        (continue)="continueVideo($event)" [categoryIndex]="1" />
    @for (genre of videosService.getGenres(); track genre; let i = $index) {
    <app-videos-category [title]="genre" [categoryIndex]="2 + i" [selection]="videosService.getVideosMetaByGenre(genre)"
        (continue)="continueVideo($event)" />
    }
</div>
} @else {
<div class="f-size flex-center">
    <app-loading-circle />
</div>
}
<app-dialog *ngIf="continueWatchingData" [dialog]="continueWatchingComponent"
    [(showing)]="showingContinueWatchingDialog"
    [dialogData]="{ metaData: continueWatchingData.meta, completion: continueWatchingData.completion}" />