@import '../../../styles.scss';

:host {
    width: 100%;
    height: 100%;
    padding-top: $page-top-padding;
    background:
        $bg-gradient-dark,
        url('../../../assets/img/landing_page_bg.jpeg') no-repeat center center;
    background-size: cover;
}