@import '../../../../styles.scss';

:host {
    width: 320px;
    height: 240px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

h2 {
    display: flex;
    justify-content: center;
    padding-bottom: 8px;
    margin-bottom: 4px;
    color: $white-darkest;
}