@import '../styles.scss';

.page-wrapper {
    position: relative;
    width: 100vw;
    min-height: 100dvh;
    background: $black-bright;
    display: flex;
    flex-direction: column;
    app-navigation {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 200;
    }
    .page-content {
        width: inherit;
        min-height: inherit;
        &.content-home {
            min-height: unset;
        }
    }
    app-footer {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        &.footer-home {
            position: initial;
            width: 100%;
            flex: 1;
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
        }
    }
}