@import '../styles.scss';

.page-wrapper {
    width: 100vw;
    height: 100dvh;
    background: $plain-black;
    display: flex;
    flex-direction: column;
    .page-content {
        flex: 1;
    }
}