@import '../styles.scss';

.page-wrapper {
    position: relative;
    width: 100vw;
    min-height: 100dvh;
    background: $plain-black;
    app-navigation {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 100;
    }
    .page-content {
        width: inherit;
        min-height: inherit;
    }
    app-footer {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        &.footer-home {
            left: unset;
        }
    }
}