<h1>Sign up</h1>
<form class="form-std" (ngSubmit)="onSubmit(signupForm)" #signupForm="ngForm">
    <div class="field" [class.field-active]="formData.email.length > 0">
        <span class="material-icons-outlined input-icon">mail</span>
        <input type="email" placeholder="Email address" [(ngModel)]="formData.email" name="email" autocomplete="off"
            #email="ngModel" required pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"
            [class.input-invalid]="email.touched && !email.valid" />
        <app-form-error [errors]="[
                {condition: (email.touched || signupForm.submitted) && !email.valid, msg: 'Please enter a valid email address.'},
                errorService.getConditionalFieldErrResp('email', errorResp),
            ]" />
    </div>
    <div class="field">
        <app-dynamic-pw-icon [inputElement]="passwordInput" />
        <input type="password" placeholder="Password" [(ngModel)]="formData.password" name="password"
            autocomplete="new-password" #password="ngModel" required #passwordInput
            [class.input-invalid]="password.touched && !password.valid" />
        <app-form-error [errors]="[
                {condition: (password.touched || signupForm.submitted) && !password.valid, msg: 'Please enter a password.'},
                errorService.getConditionalFieldErrResp('password', errorResp),
            ]" />
    </div>
    <div class="field">
        <app-dynamic-pw-icon [inputElement]="passwordConfirmationInput" />
        <input type="password" placeholder="Confirm password" [(ngModel)]="formData.passwordConfirmation"
            name="passwordConfirmation" autocomplete="new-password" #passwordConfirmation="ngModel" required #passwordConfirmationInput
            [class.input-invalid]="passwordConfirmation.touched && formData.password != formData.passwordConfirmation" />
        <app-form-error [errors]="[
                {
                    condition: formData.passwordConfirmation.length == 0 &&
                        ((passwordConfirmation.touched && formData.password.length > 0) || signupForm.submitted),
                    msg: 'Please confirm your password'
                },
                {
                    condition: passwordConfirmation.touched && formData.password != formData.passwordConfirmation,
                    msg: 'Passwords do not match.'
                }  
            ]" />
    </div>
    <div class="checkbox-field">
        <input type="checkbox" name="privacyCheck" #privacyCheck="ngModel" #privacyCheckbox
            [(ngModel)]="formData.privacyCheck" required />
        <app-custom-checkbox [checked]="formData.privacyCheck" />
        <label for="privacyCheckbox">
            I accept the<a routerLink="/legal/privacy" target="_blank" class="link-blue">privacy policy</a>
        </label>
        <app-form-error [errors]="[
                {condition: !privacyCheck.valid && signupForm.submitted, msg: 'You need to accept the privacy policy to sign up.'}
            ]" />
    </div>
    <div class="flex-center">
        <button type="submit" class="btn-primary" [disabled]="loading">Get started</button>
        <app-form-error [errors]="[
                errorService.getConditionalFieldErrResp('unknown', errorResp),
            ]" />
        <p *ngIf="emailSent == 'finally'" class="note">{{emailMsg}}</p>
    </div>
</form>
<app-toast-notification [show]="emailSent == true" [msg]="emailMsg" (then)="emailSent = 'finally'" />