@import '../../../../styles.scss';
@import '../auth.component.scss';

:host {
    @include auth-child-host();
}

.signup-mode-link-container {
    justify-content: flex-start;
    .signup-mode-link-content {
        padding: 7px 11px 7px 3px;
    }
}

.form-bottom {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    .privacy-field {
        position: relative;
        font-size: 16px;
        display: flex;
        gap: 4px;
    }
}