<h1>Sign up</h1>
<form class="form-std" (ngSubmit)="onSubmit(signupForm)" #signupForm="ngForm">
    <div class="field" [class.field-active]="formData.email.length > 0">
        <span class="material-icons-sharp" [class.to-black]="formData.email.length > 0">mail</span>
        <input type="email" placeholder="yourname@email.com" [(ngModel)]="formData.email" name="email"
            autocomplete="off" #email="ngModel" required pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"
            [class.input-invalid]="email.touched && !email.valid" />
        <app-form-error [errors]="[
                {condition: email.touched && !email.valid, msg: 'Please enter a valid email address.'},
                errorService.getConditionalFieldErrResp('email', errorResp),
            ]" />
    </div>
    <div class="field">
        <span class="material-icons-sharp" [class.to-black]="formData.password.length > 0">lock</span>
        <input type="password" placeholder="Password" [(ngModel)]="formData.password" name="password"
            #password="ngModel" required [class.input-invalid]="password.touched && !password.valid" />
        <app-form-error [errors]="[
                {condition: password.touched && !password.valid, msg: 'Please enter a password.'},
                errorService.getConditionalFieldErrResp('password', errorResp),
            ]" />
    </div>
    <div class="field">
        <span class="material-icons-sharp" [class.to-black]="formData.passwordConfirmation.length > 0">lock</span>
        <input type="password" placeholder="Confirm password" [(ngModel)]="formData.passwordConfirmation"
            name="passwordConfirmation" #passwordConfirmation="ngModel" required
            [class.input-invalid]="passwordConfirmation.touched && formData.password != formData.passwordConfirmation" />
        <app-form-error [errors]="[
                {
                    condition: passwordConfirmation.touched && formData.password.length > 0 && formData.passwordConfirmation.length == 0,
                    msg: 'Please confirm your password'
                },
                {
                    condition: passwordConfirmation.touched && formData.password != formData.passwordConfirmation,
                    msg: 'Passwords do not match.'
                }  
            ]" />
    </div>
    <div class="form-bottom">
        <div class="privacy-field">
            <input type="checkbox" name="privacyCheck" #privacyCheck="ngModel" [(ngModel)]="formData.privacyCheck"
                required />
            I accept the<a routerLink="/legal/privacy" target="_blank" class="link-blue">privacy policy</a>
            <app-form-error [errors]="[
                    {condition: !privacyCheck.valid && signupForm.submitted, msg: 'You need to accept the privacy policy to sign up.'}
                ]" />
        </div>
        <button type="submit" class="btn-primary" [disabled]="loading">Submit</button>
        <app-form-error [errors]="[
                errorService.getConditionalFieldErrResp('unknown', errorResp),
            ]" />
        <p *ngIf="emailSent == 'finally'" class="note">{{emailMsg}}</p>
    </div>
</form>
<div class="f-width auth-mode-link-container">
    <a routerLink="/auth/login">
        <h3 class="auth-mode-link-content"><span class="material-icons-sharp">keyboard_arrow_left</span>Log in</h3>
    </a>
</div>
<app-toast-notification [show]="emailSent == true" [msg]="emailMsg" (then)="emailSent = 'finally'" />