@import '../../../../styles.scss';

h4 {
    color: $plain-white;
    margin-bottom: 16px;
}

.videos-container {
    display: flex;
    gap: 16px;
    position: relative;
    &.z-top {
        z-index: 100;
    }
}