@import '../../../../styles.scss';

$video-height: 120px;

h4 {
    color: $plain-white;
    margin-bottom: 16px;
}

.videos-container {
    display: flex;
    flex-direction: row;
    gap: 16px;
    flex-wrap: wrap;
    position: relative;
    &.z-top {
        z-index: 100;
    }
    .video-container {
        width: calc($video-height / 0.5625);
        height: $video-height;
        overflow: visible;
    }
}