@import '../../../styles.scss';
@import 'material-icons/iconfont/material-icons.scss';

@mixin auth-child-host() {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
}

:host {
    width: 100%;
    height: 100%;
    .wrapper {
        width: 100%;
        height: 100%;
        padding-top: $page-top-padding;
        @extend .flex-center;
        .content {
            display: block;
            width: 400px;
            background-color: $plain-white;
            border-radius: $b-radius-large;
            padding: 24px;
            color: $plain-black;
            box-shadow: $shine-white-shadow;
        }
    }
}

.auth-bg {
    background:
        $bg-gradient,
        url('../../../assets/img/auth_bg_1.jpeg') no-repeat center center;
    background-size: cover;
}

.auth-alternate-bg {
    background:
        $bg-gradient,
        url('../../../assets/img/auth_bg_2.jpeg') no-repeat center center;
    background-size: cover;
}

h1 {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 8px;
    margin-bottom: 4px;
    color: $purple;
}

.btns-container {
    margin-top: 16px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6px;
}

.notice {
    font-size: $fs-tiny;
    margin-bottom: 4px;
}

.note {
    position: absolute;
    left: 0;
    right: 0;
    top: calc(100% + 8px);
}