@import '../../../styles.scss';
@import 'material-icons/iconfont/material-icons.scss';

@mixin auth-child-host() {
    width: 100%;
    height: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
}

:host {
    display: block;
    width: 400px;
    background-color: $white-medium;
    border-radius: $b-radius-large;
    padding: 24px;
    color: $black-medium;
    box-shadow: $shine-white-shadow;
}

h1 {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 8px;
    margin-bottom: 4px;
    border-bottom: 1px solid $black-light;
}

.btns-container {
    margin-top: 16px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6px;
}

.auth-mode-link-container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    .auth-mode-link-content {
        display: flex;
        align-items: center;
        color: $black-darkest;
        border-radius: $b-radius-large;
        border: 1px solid #00000000;
        padding: 7px 3px 7px 11px;
        @include transition-ease($dur: 75ms);
        font-size: 24px;
        span {
            font-size: 30px;
        }
        &:hover {
            @include transition-ease();
            border-color: $grey-medium;
            @include simple-shadow($alpha: 0.06);
        }

        &:active {
            @include transition-ease($dur: 75ms);
            border-color: $grey-dark;
            @include simple-shadow($alpha: 0.1);
        }
    }
    button:disabled .auth-mode-link-content {
        color: $grey-light;
        &:hover, &:active {
            border-color: $grey-light;
        }
    }
}

.notice {
    font-size: $fs-small;
    margin-bottom: 4px;
}

.note {
    position: absolute;
    left: 0;
    right: 0;
    top: calc(100% + 8px);
}