@import '../../../../styles.scss';

:host {
    transition: opacity 250ms ease-out;
    opacity: 1;
    position: absolute;
    left: 0;
    right: 0;
    top: calc(100% + 2px);
    p {
        font-size: 14px;
        color: $red;
    }
    &:empty {
        opacity: 0;
    }
}