@import '../../../../styles.scss';
@import 'material-icons/iconfont/material-icons.scss';

:host {
    transition: opacity 250ms ease-out;
    opacity: 1;
    top: calc(100% + 2px);
    p {
        font-size: 14px;
        color: $error-red;
        display: flex;
        align-items: center;
        gap: 4px;
        span {
            font-size: inherit;
            color: inherit;
        }
    }
    &:empty {
        opacity: 0;
    }
}