@import '../../../../styles.scss';

:host {
    transition: opacity 250ms ease-out;
    opacity: 1;
    top: calc(100% + 2px);
    p {
        font-size: 14px;
        color: $error-red;
    }
    &:empty {
        opacity: 0;
    }
}