<div *ngIf="showing" class="overlay flex-center">
    <div class="notification" [class.small]="small">
        <div class="status-mark" [class.error]="status == 'error'" [class.ok]="status == 'ok'"></div>
        <div class="notification-content">
            <span *ngIf="status != 'neutral'" class="notranslate material-icons-outlined status-icon">
                @if(status == 'ok') {check_circle}
                @else {error}
            </span>
            <p>{{msg}}</p>
            <button *ngIf="status == 'error'" class="notranslate material-icons-outlined close-toast-btn"
                (click)="close()">close_small</button>
        </div>
        <button *ngIf="btn" class="btn-white" (click)="btnClick.emit()">{{btn}}</button>
    </div>
</div>