<div *ngIf="showing" class="overlay flex-center">
    <div class="notification">
        <div class="status-mark" [class.error]="status == 'error'" [class.ok]="status == 'ok'"></div>
        <span *ngIf="status != 'neutral'" class="material-icons-outlined status-icon">
            @if(status == 'ok') {check_circle}
            @else {error}
        </span>
        <p>{{msg}}</p>
        <button *ngIf="status == 'error'" class="material-icons-outlined close-toast-btn"
            (click)="close()">close_small</button>
        <button *ngIf="btn" class="btn-white" (click)="btnClick.emit()">{{btn}}</button>
    </div>
</div>