@import "../../../../styles.scss";
@import "material-icons/iconfont/material-icons.scss";

.overlay {
    position: fixed;
    inset: 0;
    z-index: 400;
    .notification {
        @include simple-shadow($alpha: 0.16);
        animation: slide-bottom-center 0.4s ease-out;
        height: 80px;
        border-radius: 20px;
        font-size: $fs-small;
        font-weight: 400;
        color: $plain-white;
        background-color: $purple;
        display: flex;
        align-items: center;
        overflow: hidden;
        .status-mark {
            width: 24px;
            height: 100%;
            &.ok {
                background: $green-light;
            }
            &.error {
                background: $error-red;
            }
        }
        .abstract-btn {
            cursor: pointer;
            border-left: 1px solid $plain-white;
            margin-left: 4px;
            padding-left: 14px;
            margin-right: 16px;
        }
        .notification-content {
            flex: 1;
            @extend .flex-center;
            .status-icon {
                margin-left: 6px;
                font-size: 36px;
            }
            p {
                max-width: 360px;
                padding: 10px;
            }
            .close-toast-btn {
                @extend .abstract-btn;
                font-size: inherit;
                color: inherit;
                width: 40px;
                height: 32px;
                display: flex;
                align-items: center;
                @include transition-ease($dur: 75ms);
                &:hover {
                    @include transition-ease($dur: 75ms);
                    text-shadow: 2px 1px 2px #00000066;
                }
            }
        }
        .btn-white {
            @extend .abstract-btn;
        }
        &.small {
            width: auto;
            height: auto;
            padding: 2px 8px;
            .status-mark {
                display: none;
            }
        }
    }
}

@keyframes slide-bottom-center {
    from {
        transform: translateY(calc(50vh + 100%));
    }
    to {
        transform: translateY(0);
    }
}

@media screen and (max-width: 640px) {
    .overlay {
        display: flex;
        align-items: flex-end;
        .notification {
            border-radius: 0;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            width: 100vw;
            height: auto;
            min-height: 120px;
            flex-direction: column;
            .status-mark {
                width: 100%;
                height: 20px;
            }
        }
    }
}
