@import './fonts.scss';
@import './assets/scss/scrollbar.scss';

$plain-white: #FFF;
$plain-black: #000;
$black-bright: #141414;
$black-brighter: #222;
$grey-light: #888;
$grey-lighter: #ddd;
$grey-trans: #eeeeee1e;
$purple: #2E3EDF;
$purple-bright: #3646f0;
$purple-brighter: #4453f7;
$purple-dark: #2937d0;
$purple-trans: #2E3EDF80;
$error-red: #FF002E;
$green-light: #32be39;

$b-radius-small: 12px;
$b-radius-medium: 24px;
$b-radius-large: 48px;

$fs-tiny: 15px;
$fs-small: 16px;
$fs-normal: 18px;

$shine-white-shadow: 0px 1px 3px 3px #DDFFFF33;

$bg-gradient: linear-gradient(180deg, rgba(0, 0, 0, 0.8) -27.44%, rgba(0, 0, 0, 0.44) 44.23%, rgba(0, 0, 0, 0.8) 100%);
$bg-gradient-alt: linear-gradient(180deg, rgba(20, 20, 20, 0.6) 0%, rgba(20, 20, 20, 0) 50%, #141414 100%);
$bg-gradient-dark: linear-gradient(180deg, #000000 -19.89%, rgba(0, 0, 0, 0.55) 40.46%, #000000 100%);

$nav-height: 108px;
$page-top-padding: calc($nav-height - 30px);

@mixin transition-ease($dur: 100ms) {
    transition: $dur ease-in-out;
}

@mixin simple-shadow($alpha: 0.1) {
    box-shadow: 1px 2px 2px 2px rgba(0, 0, 0, $alpha);
}

@mixin text-line-clamp($number-of-lines: 2) {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    line-clamp: $number-of-lines;
    -webkit-line-clamp: $number-of-lines;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}

:root {
    --page-side-padding: 96px;
    --video-card-height: 120px;
    @media screen and (max-width: 1280px) {
        --page-side-padding: 64px;
    }
    @media screen and (max-width: 1024px) {
        --page-side-padding: 40px;
    }
    @media screen and (max-width: 800px) {
        --page-side-padding: 16px;
        --video-card-height: 96px;
    }
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
    -webkit-tap-highlight-color: transparent;
}

html, body {
    height: 100%;
    background-color: $black-bright;;
}

body {
    overflow-x: hidden;
    overflow-y: auto;
    &.no-scroll {
        overflow-y: hidden;
    }
}

body,
input {
    font-weight: 300;
    font-size: $fs-normal;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 40px;
}

input,
button {
    background: none;
    border: none;
    outline: none;
}

button {
    @extend .prevent-select;
}

button,
a {
    cursor: pointer;
    font-weight: 600;
}

button:disabled {
    cursor: not-allowed;
}

a {
    text-decoration: none;
}

.material-icons-outlined, .material-icons-sharp {
    @extend .prevent-select;
}

.f-width {
    width: 100%;
}

.f-size {
    width: 100%;
    height: 100%;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-field-icon {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 16px;
    display: flex;
    align-items: center;
    @include transition-ease($dur: 75ms);
}

.form-std {
    width: 100%;

    .field {
        position: relative;
        width: inherit;
        margin-bottom: 21px;

        .input-icon {
            @extend .form-field-icon;
            color: $purple;
        }

        input {
            width: inherit;
            padding: 8px 48px 8px 16px;
            border-radius: $b-radius-small;
            border: 1px solid $purple;
            @include transition-ease($dur: 75ms);

            &::placeholder {
                color: $purple;
            }
        }

        .input-invalid {
            @include transition-ease($dur: 75ms);
            border-color: $error-red;
        }
    }

    .checkbox-field {
        position: relative;
        display: flex;
        align-items: center;
        gap: 4px;
        margin-bottom: 18px;
        font-size: $fs-small;

        input[type="checkbox"] {
            cursor: pointer;
            position: relative;
            z-index: 1;
            opacity: 0;
        }

        label {
            font-size: inherit;
            display: flex;
            gap: 4px;

            a {
                font-size: inherit;
            }
        }
    }
}

.form-horizontal-white {
    display: flex;
    align-items: center;
    gap: 16px;

    .field {
        position: relative;
        width: inherit;

        span {
            @extend .form-field-icon;
            color: $plain-white;
        }

        input {
            width: 100%;
            height: 47px;
            color: $plain-white;
            border: 1px solid $plain-white;
            border-radius: 24px;
            padding: 0 24px;
            flex: 1;

            &::placeholder {
                color: inherit;
            }
        }
    }
}

.btn-sizing {
    padding: 11px 14px;
    border-radius: $b-radius-medium;
    border: 1px solid #00000000;
    font-size: $fs-normal;
    @extend .flex-center;
    gap: 6px;
    @include transition-ease();

    &:hover {
        @include transition-ease();
        color: white;
        @include simple-shadow($alpha: 0.2);
        background-color: $purple-bright;
        border-color: #00000000;
    }

    &:active {
        @include transition-ease($dur: 75ms);
        @include simple-shadow($alpha: 0.3);
        background-color: $purple-dark;
        border-color: #00000000;
    }

    &:disabled {
        background-color: $purple-trans;
        color: $plain-white;
        border-color: #00000000;
    }
}

.btn-primary {
    @extend .btn-sizing;
    background-color: $purple;
    color: $plain-white;
}

.btn-secondary {
    @extend .btn-sizing;
    background-color: $plain-white;
    border-color: $purple;
    color: $purple;
}

.btn-secondary-alt-dark {
    @extend .btn-secondary;
    &:not(:hover):not(:active) {
        background-color: unset;
        color: $plain-white;
    }
}

.btn-white {
    @extend .btn-sizing;
    background-color: $plain-white;
    color: $purple;
    &:hover, &:active {
        background-color: $plain-white;
        color: $purple-bright;
    }
}

.btn-icon {
    width: 40px;
    height: 40px;
    font-size: $fs-small;
    padding: unset;
    @extend .flex-center;
}

.link-blue {
    font-size: $fs-normal;
    font-weight: 600;
    color: $purple;

    &:hover {
        text-decoration: underline;
    }
}

app-form-error {
    position: absolute;
    left: 0;
    right: 0;
}

.note {
    font-size: $fs-tiny;
    color: $green-light;
    animation: fade-in 150ms ease-out;
}

.close-btn {
    color: $purple;
    font-size: 34px;
    transform: scale(0.8);
    will-change: transform;
    @include transition-ease($dur: 75ms);

    &:hover {
        @include transition-ease($dur: 75ms);
        transform: scale(1);
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.prevent-select {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.text-page {
    color: $plain-white;
    font-size: $fs-small;
    width: 100%;
    min-height: inherit;
    padding-top: $nav-height;
    padding-left: var(--page-side-padding);
    padding-right: var(--page-side-padding);
    display: flex;
    flex-direction: column;
    gap: 4px;
    h2 {
        margin-bottom: 20px;
    }
    h3 {
        font-size: 32px;
        margin: 12px 0;
    }
    ul, ol {
        padding-left: 24px;
    }
    .mgn-left {
        margin-left: 4px;
    }
}