@import './fonts.scss';

$plain-white: #FFFFFF;
$plain-black: #000000;
$grey-light: #888888;
$purple: #2E3EDF;
$purple-bright: #3646f0;
$purple-trans: #2E3EDF80;
$error-red: #FF002E;
$green-light: #32be39;

$b-radius-small: 10px;
$b-radius-medium: 24px;
$b-radius-large: 48px;

$fs-tiny: 15px;
$fs-normal: 18px;

$shine-white-shadow: 0px 1px 3px 3px #DDFFFF33;

@mixin transition-ease($dur: 100ms) {
    transition: $dur ease-in-out;
}

@mixin simple-shadow($alpha: 0.1) {
    box-shadow: 1px 2px 2px 2px rgba(0, 0, 0, $alpha);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}

html {
    overflow: hidden;
}

body,
input {
    font-weight: 500;
    font-size: $fs-normal;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 40px;
}

input,
button {
    background: none;
    border: none;
    outline: none;
}

button,
a {
    cursor: pointer;
}

button:disabled {
    cursor: not-allowed;
}

a {
    text-decoration: none;
}

.f-width {
    width: 100%;
}

.f-size {
    width: 100%;
    height: 100%;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-std {
    width: 100%;

    .field {
        position: relative;
        width: inherit;
        margin-bottom: 21px;

        span {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 16px;
            display: flex;
            align-items: center;
            @include transition-ease($dur: 75ms);
            color: $purple;
        }

        input {
            width: inherit;
            padding: 8px 16px 8px 48px;
            border-radius: 20px;
            border: 1px solid $purple;
            @include transition-ease($dur: 75ms);

            &::placeholder {
                color: $purple;
            }

            &:placeholder-shown {
                @include transition-ease($dur: 75ms);
                border-color: #00000000;

                &:hover {
                    @include transition-ease($dur: 75ms);
                }

                &:active {
                    @include transition-ease($dur: 75ms);
                }
            }
        }

        .input-invalid {
            @include transition-ease($dur: 75ms);
            border-color: $error-red;
        }
    }
}

.btn-sizing {
    padding: 11px 14px;
    border-radius: $b-radius-medium;
    border: 1px solid #00000000;
    font-size: $fs-normal;
    @include transition-ease();

    &:hover {
        @include transition-ease();
        color: white;
        @include simple-shadow($alpha: 0.2);
        background-color: $purple;
        border-color: #00000000;
    }

    &:active {
        @include transition-ease($dur: 75ms);
        @include simple-shadow($alpha: 0.3);
        background-color: $purple-bright;
        border-color: #00000000;
    }

    &:disabled {
        background-color: $purple-trans;
        border-color: #00000000;
    }
}

.btn-primary {
    @extend .btn-sizing;
    background-color: $purple;
    color: $plain-white;
}

.btn-secondary {
    @extend .btn-sizing;
    background-color: $plain-white;
    border-color: $purple;
    color: $purple;
}

.to-black {
    @include transition-ease($dur: 75ms);
    filter: brightness(0);
}

.link-blue {
    font-size: $fs-normal;
    font-weight: 600;
    color: $purple;

    &:hover {
        text-decoration: underline;
    }
}

app-form-error {
    position: absolute;
    left: 0;
    right: 0;
}

.note {
    font-size: $fs-tiny;
    color: $green-light;
    animation: fade-in 150ms ease-out;
}

.close-btn {
    color: $purple;
    font-size: 34px;
    transform: scale(0.8);
    will-change: transform;
    @include transition-ease($dur: 75ms);
    &:hover {
        @include transition-ease($dur: 75ms);
        transform: scale(1);
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.prevent-select {
    -webkit-user-select: none; 
    -ms-user-select: none;
    user-select: none;
}