@import '../../../../styles.scss';
@import 'material-icons/iconfont/material-icons.scss';

:host {
    display: flex;
    flex-direction: column;
    gap: 16px;
    .thumb-container {
        width: 100%;
        @extend .flex-center;
        img {
            width: 272px;
            border-radius: $b-radius-small;
        }
    }
    .btns-container {
        display: flex;
        gap: 10px;
        .btn-primary, .btn-secondary-alt-dark {
            display: flex;
            align-items: center;
            gap: 4px;
            .resume-icon {
                display: flex;
                align-items: center;
                .resume-line {
                    width: 2px;
                    height: 14px;
                    margin-right: -5px;
                    background: $plain-white;
                }
            }
        }
    }
}