<h3>Continue watching?</h3>
<app-watching-progress *ngIf="metaData && completion" [metaData]="metaData" [completion]="completion" />
<div class="btns-container">
    <button class="btn-secondary" (click)="playVideoFromStart()">
        <div class="resume-icon">
            <div class="resume-line"></div>
            <span class="material-icons-outlined resume-icon">play_arrow</span>
        </div>
        Resume
    </button>
    <button class="btn-primary" (click)="playVideo()">
        <span class="material-icons-outlined">play_arrow</span>
        Continue
    </button>
</div>