<div class="content" [ngSwitch]="mode">
    <section>
        <app-logo [condensed]="mode === 'home'" />
    </section>
    <section *ngSwitchCase="'login'">
        <a [routerLink]="['auth', 'login']" class="btn-primary">Log in</a>
    </section>
    <section *ngSwitchCase="'back'">
        <app-back-btn [routerLink]="''" />
    </section>
    @if(authService.currentUser && !(awaitingInit === true)) {
    <section *ngSwitchCase="'home'" [class.slide-down]="awaitingInit === 'complete'">
        <app-nav-search />
        <button class="btn-primary logout-btn" (click)="logout()" [disabled]="loggedOut">
            <span class="material-icons-outlined">logout</span>
            Log out
        </button>
        <div class="settings">
            <span class="material-icons-outlined settings-icon">settings</span>
            <div class="settings-dropdown">
                <ul>
                    <li class="submenu-title" (click)="showAccountSubmenuResponsive()">
                        <span class="material-icons-outlined">arrow_left</span>
                        My Account
                        <div class="settings-dropdown-submenu"
                            [class.show-submenu-responsive]="accountSubmenuShowingResponsive"
                            (click)="closeAccountSubmenuResponsive(); $event.stopPropagation()">
                            <ul>
                                <li (click)="showChangePwDialog()">Change password</li>
                            </ul>
                        </div>
                    </li>
                    <li class="logout-li" (click)="showChangePwDialog()">
                        <span class="material-icons-outlined">logout</span>
                        Log out
                    </li>
                </ul>
            </div>
        </div>
    </section>
    }
</div>
@if(mode == 'home' && authService.currentUser) {
<app-dialog [dialog]="requestPwResetComponent" [(showing)]="changePwDialogShowing" />
<app-toast-notification [show]="loggedOut" [msg]="'You logged out.'" (then)="onLogout()" />
}