@import '../../../styles.scss';
@import 'material-icons/iconfont/material-icons.scss';

:host {
    width: 100%;
    height: $nav-height;
    display: flex;
    align-items: center;
    .content {
        width: inherit;
        padding: 10px var(--page-side-padding);
        display: flex;
        justify-content: space-between;
        color: $plain-white;
        section {
            display: flex;
            align-items: center;
        }
    }
}

.settings {
    position: relative;
    display: flex;
    align-items: center;
    cursor: default;
    color: $plain-white;
    padding: 10px 0 10px 14px;
    @include transition-ease($dur: 75ms);
    .settings-icon {
        font-size: 34px;
        font-weight: 200;
        transform: scale(0.8);
        will-change: transform;
        @include transition-ease($dur: 100ms);
        transition-delay: 180ms;
    }
    .settings-dropdown {
        position: absolute;
        top: calc(100%);
        right: 0;
        max-height: 0;
        min-width: 180px;
        background: $purple-trans;
        box-sizing: border-box;
        overflow: hidden;
        @include transition-ease($dur: 250ms);
        transition-delay: 90ms;
        border-radius: $b-radius-small;
        ul li {
            width: 100%;
            cursor: pointer;
            padding: 4px;
            border-radius: $b-radius-small;
            @include transition-ease($dur: 150ms);
            &:hover {
                background: $purple;
                @include transition-ease($dur: 75ms);
            }
            &:active {
                background: $purple-bright;
                @include transition-ease($dur: 75ms);
            }
        }
    }
    &:hover {
        @include transition-ease($dur: 75ms);
        .settings-icon {
            @include transition-ease($dur: 100ms);
            transform: scale(1);
        }
        .settings-dropdown {
            @include transition-ease($dur: 250ms);
            max-height: 50dvh;
        }
    }
}

.slide-down {
    animation: slide-down 700ms 300ms ease-out normal forwards;
    transform: translateY(-240px);
}

.user-dropdown ul {
    list-style: none;
    color: $plain-white;
    background: $plain-black;
    border-radius: 6px;
    li {
        padding: 4px 8px;
        background: inherit;
        border-radius: inherit;
        white-space: nowrap;
        width: 100%;
        cursor: pointer;
        @include transition-ease($dur: 75ms);
        &:hover {
            @include transition-ease($dur: 75ms);
            color: $purple;
            filter: brightness(1.2);
        }
        &:active {
            @include transition-ease($dur: 75ms);
            color: $purple-bright;
        }
    }
}

@keyframes slide-down {
    from {
        transform: translateY(-240px);
    }
    to {
        transform: translateY(0);
    }
}