<div class="content">
    <section>
        <app-logo />
    </section>
    @if(mode) {
    @if(mode === 'login') {
    <section>
        <a [routerLink]="['auth', 'login']" class="btn-primary">Log in</a>
    </section>
    }
    @else if(mode === 'signup') {
        <section>
            <a [routerLink]="['auth', 'signup']" class="btn-primary">Sign up</a>
        </section>
        }
    @else if(mode === 'home') {
    <section *ngIf="authService.currentUser && !(awaitingInit === true)"
        [class.slide-down]="awaitingInit == 'complete'">
        <app-search />
        <div class="current-user">
            <span class="material-icons-sharp">person</span>
            <span class="username">{{authService.currentUser.getNameFromEmail()}}</span>
            <span class="material-icons-sharp dropdown-arrow">arrow_drop_down</span>
            <div class="user-dropdown">
                <ul>
                    <li (click)="showChangePwDialog()">Change password</li>
                    <li (click)="logout()">Logout</li>
                </ul>
            </div>
        </div>
    </section>
    }
    }
</div>
<app-dialog [dialog]="requestPwResetComponent" [(showing)]="changePwDialogShowing" />
<app-toast-notification [show]="loggedOut" [msg]="'You logged out.'" (then)="router.navigateByUrl('auth')" />