@import '../../../styles.scss';
@import 'material-icons/iconfont/material-icons.scss';

:host {
    width: 100%;
    height: $nav-height;
    display: flex;
    align-items: center;
    .content {
        width: inherit;
        padding: 10px 96px;
        display: flex;
        justify-content: space-between;
        color: $plain-white;
        section {
            display: flex;
            align-items: center;
        }
    }
}

app-search {
    width: 300px;
}

.current-user {
    position: relative;
    display: flex;
    align-items: center;
    cursor: default;
    color: $plain-white;
    padding: 10px 0 10px 14px;
    @include transition-ease($dur: 75ms);
    .username {
        padding-left: 8px;
        padding-right: 4px;
        @include transition-ease($dur: 75ms);
    }
    .dropdown-arrow {
        transform: rotate(0deg);
        @include transition-ease($dur: 225ms);
    }
    .user-dropdown {
        position: absolute;
        top: calc(100% - 6px);
        right: 0;
        max-height: 0;
        box-sizing: border-box;
        overflow: hidden;
        @include transition-ease($dur: 250ms);
        transition-delay: 90ms;
    }
    &:hover {
        @include transition-ease($dur: 75ms);
        .username:hover {
            @include transition-ease($dur: 150ms);
        }
        .dropdown-arrow {
            @include transition-ease($dur: 225ms);
            transform: rotate(180deg);
        }
        .user-dropdown {
            @include transition-ease($dur: 250ms);
            max-height: 50dvh;
        }
    }
}

.slide-down {
    animation: slide-down 700ms 300ms ease-out normal forwards;
    transform: translateY(-240px);
}

.user-dropdown ul {
    list-style: none;
    color: $plain-white;
    background: $plain-black;
    border-radius: 6px;
    li {
        padding: 4px 8px;
        background: inherit;
        border-radius: inherit;
        white-space: nowrap;
        width: 100%;
        cursor: pointer;
        @include transition-ease($dur: 75ms);
        &:hover {
            @include transition-ease($dur: 75ms);
            color: $purple;
            filter: brightness(1.2);
        }
        &:active {
            @include transition-ease($dur: 75ms);
            color: $purple-bright;
        }
    }
}

@keyframes slide-down {
    from {
        transform: translateY(-240px);
    }
    to {
        transform: translateY(0);
    }
}