@import "../../../styles.scss";
@import 'material-icons/iconfont/material-icons.scss';

$slide-duration: 250ms;
$overlay-bg: #00000066;

:host {
    position: absolute;
    width: 0;
    height: 0;

    .overlay {
        position: fixed;
        inset: 0;
        z-index: 400;
        width: 100vw;
        height: 100dvh;
        display: flex;
        justify-content: center;
        align-items: center;
        background: $overlay-bg;
        animation: fade-in 150ms ease-out forwards;
        .content {
            max-width: 40vw;
            max-height: 80dvh;
            padding: 24px;
            border-radius: $b-radius-large;
            background: $plain-white;
            box-shadow: $shine-white-shadow;
            overflow-x: hidden;
            overflow-y: auto;
            animation: slide-in $slide-duration ease-out forwards;
            .header {
                width: 100%;
                margin-top: -6px;
                margin-bottom: 6px;
                display: flex;
                justify-content: flex-end;
            }
            @media screen and (max-width: 1440px) {
                max-width: 50vw;
                padding: 20px;
                border-radius: $b-radius-medium;
            }
            @media screen and (max-width: 1280px) {
                max-width: 60vw;
            }
            @media screen and (max-width: 1024px) {
                max-width: 70vw;
            }
            @media screen and (max-width: 800px) {
                max-width: 80vw;
                padding: 10px;
            }
            @media screen and (max-width: 640px) {
                max-width: 96vw;
            }
        }
        &.hidden {
            display: none;
        }
    }
    &.alt-dark .overlay .content {
        background: $black-brighter;
        color: $plain-white;
        border-radius: $b-radius-small;
        box-shadow: unset;
        .header .close-btn {
            color: $plain-white;
            width: 36px;
            height: 36px;
            border-radius: 50%;
            transform: unset;
            @extend .flex-center;
            &:hover {
                background: $grey-trans;
                background: $purple-trans;
            }
        }
    }
}

.fade-bg-out {
    animation: fade-bg-out $slide-duration ease-out forwards;
}

.overlay .content.sliding-out {
    animation: slide-out $slide-duration ease-in forwards;
}

@keyframes slide-in {
    from {
        transform: translateX(100vw);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes slide-out {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(100vw);
    }
}

@keyframes fade-bg-out {
    from {
        background: $overlay-bg;
    }
    to {
        background: #00000000;
    }
}