<form class="form-std" (ngSubmit)="onSubmit(requestForm)" #requestForm="ngForm">
    <p class="notice">Submit your email address to request a password reset link. You may only receive an email if your
        address is registered.</p>
    <div class="field" [class.field-active]="formData.email.length > 0">
        <span class="notranslate material-icons-outlined input-icon">mail</span>
        <input type="email" placeholder="Email address" [(ngModel)]="formData.email" name="email" autocomplete="off"
            #email="ngModel" required pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"
            [class.input-invalid]="email.touched && !email.valid" />
        <app-form-error [errors]="[
                {condition: email.touched && !email.valid, msg: 'Please enter a valid email address.'},
                errorService.getConditionalFieldErrResp('email', errorResp),
            ]" />
    </div>
    <div class="btns-container">
        <button *ngIf="router.url.split('/')[1] !== 'auth'" type="button" class="btn-secondary" (click)="closeDialog()">
            Cancel
        </button>
        <button type="submit" class="btn-primary" [disabled]="loading">Submit</button>
        <app-form-error [errors]="[
                errorService.getConditionalUnknownErrResp(errorResp),
            ]" />
        <p *ngIf="emailSent == 'finally'" class="note">{{emailMsg}}</p>
    </div>
</form>
<app-toast-notification [show]="emailSent == true" [msg]="emailMsg" (then)="emailSent = 'finally'" />