<form class="form-std" (ngSubmit)="onSubmit(requestForm)" #requestForm="ngForm">
    <div class="field" [class.field-active]="formData.email.length > 0">
        <span class="material-icons-sharp" [class.to-black]="formData.email.length > 0">mail</span>
        <input type="email" placeholder="yourname@email.com" [(ngModel)]="formData.email" name="email"
            autocomplete="off" #email="ngModel" required pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"
            [class.input-invalid]="email.touched && !email.valid" />
        <app-form-error [errors]="[
                {condition: email.touched && !email.valid, msg: 'Please enter a valid email address.'},
            ]" />
    </div>
    <div class="btns-container">
        <button type="submit" class="btn-primary" [disabled]="loading">Submit</button>
    </div>
</form>