@import '../../../../styles.scss';
@import 'material-icons/iconfont/material-icons.scss';

:host {
    width: 100%;
}

form.form-horizontal-white {
    width: 100%;
    @extend .flex-center;
    .field {
        .search-icon {
            right: unset;
            left: 16px;
        }
        input {
            padding-left: 48px;
            background: #00000025;
        }
        .close-btn {
            @extend .form-field-icon;
            color: inherit;
        }
    }
}