<form #searchForm="ngForm" class="form-horizontal-white">
    <div class="field" (click)="focus(); $event.stopPropagation()">
        <span class="material-icons-outlined search-icon">search</span>
        <input type="text" [(ngModel)]="videosService.searchFilter" name="searchInput" #searchInput="ngModel" #searchInputElement autocomplete="off" />
        <button *ngIf="addClosingToClearBtn || videosService.searchFilter.length > 0" class="material-icons-outlined close-btn"
            (click)="handleClearBtn()">close</button>
    </div>
</form>